* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.jumbotron {
  height: 90vh;
}

.jumbotron div {
  color: #007bff;
}

.navbar {
  height: 10vh;
}
